{% extends "layout.html" %}
{% block content %}

<h3 class="text-center">Editing a Todo task...</h3>
<hr>
<div class="container text-left">
    <div class="inputbox-add-task" id="add-task">
                <form method="POST" action="/update/{{task[0]}}">
                    <div class="form-group">
                        <input class="form-control item" name="name" required value="{{task[1]}}"> <br />
                        <input class="form-control item" name="duedate" required value="{{task[2]}}"> <br />
                        <input class="form-control item" name="status" required value="{{task[3]}}"> <br />
                        <button class="btn btn-primary" id="todo-submit" type="submit">Update Todo </button>
                    </div>
                </form>
    </div>

</div>

{% endblock content %}