<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

            <link rel="stylesheet" type="text/css" href="/static/styles.css">

            <title>Sql app</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <div class="nav-center">
                    <div class="nav-header">
                        <a href="/">
                            {% if user !='' %}
                            {{user}}'s ToDo Lists
                            {% else %}
                            ToDo List App
                            {% endif %}
                        </a>
                    </div>
                </div>
            </nav>
            <div class="content-section">

                {% block content %}{% endblock %}

            </div>
        </div>
            
    </body>
</html>
